rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /pedidos/{id} {
      allow read, write: if true;
    }

    match /config/{id} {
      allow read, write: if true;
    }

    match /catalogoStatus/{id} {
      allow read, write: if true;
    }

    match /notasFiscais/{id} {
      allow read, write: if true;
    }

    match /mesas/{id} {
      allow read, write: if true;
    }

    match /fechamentos/{id} {
      allow read, write: if true;
    }

    match /clientes/{clienteId} {
      allow read, write: if request.auth != null;
    }

  }
}
